@font-face {
    font-family: 'LT Veritas Cond';
    src: url('LTVeritas-BoldCondensed.woff2') format('woff2'),
        url('LTVeritas-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/* I swapped cocogoose for a condensed bold version of LT Veritas 
since the Cocogoose font was a trial and didn't support numbers. */

@font-face {
    font-family: 'LT Veritas Med';
    src: url('LTVeritas-Medium.woff2') format('woff2'),
        url('LTVeritas-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* Providing a predictable basis for layout sizing and spacing */
*, *::before, *::after { box-sizing: border-box; }

/* Margin reset to allow for more control from author styling */
body, h1, h2, h3, h4, p, figure{
    margin: 0;
}

/* Line height for better readability */
body{
    line-height: 1.5;
}

/* Media Responsiveness */
img, figure, svg{
    max-width: 100%;
    height: auto;
    display: block;
}

/* Font inheritance for form elements */
input, button, select, textarea{
    font: inherit;
}

/* End of selective reset */

:root{
    --background-color: #E4E5D2; /* Body Background Color */
    --main-text-color: #000000; /* Main Text Color */
    --main-accent-color: #274D0F; /* Main Accent Color (links, header, etc.) */
    --text-secondary-color: #fefff3; /*Secondary Text Color in case of dark backgrounds */
    --secondary-accent-color: #60633e; /* Secondary Accent Color */

    --surface-color: #F8F8F8; /* Card Background Color */
    --card-radius: 0.25rem; /* Card Border Radius */

    --background-notice: #EEE6B1; /* Notice Background Color */
    --border-notice: #998b70; /* Notice Border Color */

    --error-background: #ef946b;
    --error-bg-light: #f9d6c5;
    --error: #e9581f;
    --success-background: #b1e6b1;
    --success: #1f9e1f;

    --button-background: #274D0F; /* Button Background Color */
    --button-radius: .5rem; /* Button Border Radius */
    --button-text-size: 1rem; /* Button Text Size */
    --button-hover:  #60633e; /* Button Background color on hover */
    --button-text: #FFFFFF; /* Button Text Color */

    --disabled-background: #E4E5D2; /* Disabled Button Background Color */
    --disabled-text: #9d9d91; /* Disabled Button Text Color */

    --heading-font-main: 'LT Veritas Cond', sans-serif; /* Heading (h1) Font */
    --heading-font-sub: 'LT Veritas Cond', sans-serif; /* Sub Heading (h2, h3, h4) Font */
    --body-font: 'LT Veritas Med', 'Arial', sans-serif; /* Body Font */
}

body{
    background-color: var(--background-color);
    font-family: var(--body-font);
}

header{
    background-color: var(--main-accent-color);
    color: var(--text-secondary-color);
    padding: 2rem;
}

.eyebrow{
    color: var(--background-color);
    font-weight: bold;
}

main{
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 .5rem;
}

h1{
    font-family: var(--heading-font-main);
    font-size: clamp(1.8rem, 2.5vw, 2.8rem);
}

h2, h3, h4{
    font-family: var(--heading-font-sub);
    padding-top: 1rem;
}

button{
    background-color: var(--button-background);
    color: var(--button-text);
    border: 1px solid var(--main-accent-color);
    border-radius: var(--button-radius);
    font-size: var(--button-text-size);
    padding: .5rem 1rem;
}
button:hover{
    background-color: var(--button-hover);
}

.card{
    background-color: var(--surface-color);
    padding: 1.5rem;
    border: 1px solid var(--main-accent-color);
    border-radius: var(--card-radius);
}

.card-secondary{
    background-color: var(--surface-color);
    padding: 1.5rem;
    border: 1px solid var(--secondary-accent-color);
    border-radius: var(--card-radius);
    margin-top: 2rem;
}

.card-secondary h2{
    padding-top: 0;
}

fieldset{
    margin: 2rem 0;
    display: grid;
    gap: .5rem;
}

legend, label{
    font-size: 1.2rem;
    font-family:var(--heading-font-sub);
}

.choice{
    padding: .25rem 0;
    display: flex;
}

input[type="email"], input[type="text"], textarea{
    width: 100%;
    padding: .5rem;
    border: 1px solid var(--main-accent-color);
    border-radius: var(--card-radius);
}

#select-print{
    margin:auto;
}

.help{
    color: #4d4d49;
}


input:required{
    background-color: var(--background-notice);
    border: 1px solid var(--border-notice);
}
input:required:valid, input:user-valid{
    background-color: var(--success-background);
    border: 1px solid var(--success);
}

input:user-valid + span::before{
    content: "✓";
    color: var(--success);
}

input:user-invalid{
    background-color: var(--error-bg-light);
    border: 2px dashed var(--error);
    --main-accent-color: var(--error);
}

input:user-invalid + span::before{
    content: "✗";
    color: var(--error);
}

:focus-visible{
    outline: 2px solid var(--main-accent-color);
    outline-offset: 2px;
}

:disabled, :hover:disabled{
    background-color: var(--disabled-background);
    color: var(--disabled-text);
    cursor: not-allowed;
}

.error-summary h3{
    padding-top: 0;
}

.error-summary{
    border-left: .4rem solid var(--error);
    background-color: var(--error-bg-light);
    padding: 1rem;
}

.field-error{
    border: 1px solid var(--error);
    padding: 1rem;
    margin: 1rem 0;
}


#states input:valid{
    background-color: var(--success-background);
}


/* The reason I'm targeting this so specifically is because I'm using user-valid/invalid for
styling elsewhere so the document doesn't load with error and success fields right off rip. */
.field-error input:invalid{
    background-color: var(--error-bg-light);
    border: 2px dashed var(--error);
}
